@model List<AdventureWorksAppWeb.Models.Photo> 

@{
    ViewBag.Title = "Todas las Fotos";
}

<h2>Todas las Fotos</h2>

<div class="photo-gallery">
    @foreach (var photo in Model)
    {
        <div class="photo">
            <img src="@photo.ImagePath" alt="@photo.Title" />
            <p>@photo.Title</p>
            <p>@photo.Description</p>
        </div>
    }
</div>